<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="listcription" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="css/styles.min.css" />
    <title>GATE31</title>

</head>

<body>
    <main>
        <div class="filter">
            <div class="filter__search">
                <input type="text" class="filter__search__input">
                <div class="filter__search__btn">Найти</div>
            </div>
            <div class="filter__items">
                <!-- <div class="filter__items__item">
                    <input type="checkbox" class="filter__items__item__checkbox">
                    <div class="filter__items__item__wrap">
                        <div class="filter__items__item__wrap__title" title="lorem ipsun lorem">
                            lorem ipsun lorem
                        </div>
                        <div class="filter__items__item__wrap__text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos vel at unde nobis eaque nostrum possimus pariatur. Dicta deserunt, repudiandae tempora ducimus recusandae quasi consectetur quo error minus pariatur? Beatae.
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </main>
    <script type="text/javascript" src="js/main.min.js"></script>
</body>

</html>