<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="listcription" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="css/styles.min.css" />
    <title>IPOS DIGITAL</title>

</head>

<body>
    <div class="container">
        <div class="container__quare-items">
            <div class="container__quare-items__quare quare_1"></div>
            <div class="container__quare-items__quare quare_2"></div>
            <div class="container__quare-items__quare quare_3"></div>
            <div class="container__quare-items__quare quare_4"></div>
        </div>
        <div class="container__circle-wrap dn">
            <div class="container__circle-wrap__item">
                <div class="container__circle-wrap__item__text">Нажать</div>
            </div>
        </div>
        <div class="container__form dn">
            <div class="container__form__wrap">
                <div class="container__form__wrap__select mark">
                    <div class="container__form__wrap__select__btn">Марка автомобиля</div>
                    <div class="container__form__wrap__select__wrap dn"></div>
                </div>
                <div class="container__form__wrap__select model disabled">
                    <div class="container__form__wrap__select__btn">Модель автомобиля</div>
                    <div class="container__form__wrap__select__wrap dn"></div>
                </div>
                <div class="container__form__wrap__select year disabled">
                    <div class="container__form__wrap__select__btn">Год выпуска</div>
                    <div class="container__form__wrap__select__wrap dn"></div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/main.min.js"></script>
</body>

</html>